/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.glitch.com/d154a165-8425-4193-9d81-22023483f698%2Fbackground.jpg?v=1601020723576");
  
}

h2 {
  font-style: italic;
  color: #000;
  line-height: 1.1;
  font-size: 30px
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #FFF;
  margin-bottom: 20px;
}

.main-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  border: 1px solid;
  padding: 30px 4% 10px;
  border-radius: 10px;
  min-height: 600px;
  background-color: #FFF;
  opacity: 0.8;
}

.main-wrapper h2 {
  opacity: 1;
}

.main-wrapper input {
  margin: 0 auto;
  display: inline-block;
}

.main-wrapper div {
  opacity: 1;
}

.border {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  
}

#list {
  padding-top: 20px;
  text-align: left;
  font-size: 20px
}

#list button {
  text-align right;
  display: inline-block;
}

footer {
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
}
